#!/usr/bin/env python

# Rename this to botsecrets.py and fill with connection data

HOMESERVER="https://matrix-client.matrix.org"  # original Matrix homeserver

USERNAME=""
PASSWORD=""

ALLOW_LIST=[]

SESSION_FILE="current_session.txt"

CRYPTO_STORE="./crypto_storage/"
